---
http_interactions:
- request:
    method: post
    uri: https://events.pagerduty.com/generic/2010-04-15/create_event.json
    body:
      encoding: UTF-8
      string: '{"incident_key":"sms +15555555555","details":{"caller":"+15555555555","message":null},"description":"New
        SMS from +15555555555","service_key":"00000000000000000000000000000000","event_type":"trigger"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"Event processed","incident_key":"sms
        +15555555555"}'
  recorded_at: Sat, 01 Nov 2014 17:48:01 GMT
recorded_with: VCR 2.9.3
